<div class="row">
  <!-- PRODUCT LIST -->
  <div class="col-4" *ngFor="let product of products">
    <div class="card mb-4 shadow-sm">
      <img [src]="product.img" width="100%" />
      <div class="card-body">
        <p class="card-text">{{ product.name }} - € {{ product.cost }}</p>

        <!-- VARIANT LIST -->
        <div class="d-flex mb-2">
          <div
            *ngFor="let variant of product.variants"
            class="variant-box"
            [style.background]="variant"
            [style.border]="
              selectedProduct?.product?.id === product.id &&
              selectedProduct?.variant === variant
                ? '2px solid black'
                : null
            "
            (click)="selectVariant(product, variant)"
          ></div>
        </div>

        <!-- ADD TO CART -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              [disabled]="!(selectedProduct?.product?.id === product.id)"
              style="border-width: 2px"
              (click)="addToCart()"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CART -->

<div *ngIf="cart.length">
  <h1>Cart</h1>

  <div *ngFor="let item of cart">
    <div class="d-flex gap-4">
      <div class="variant-box" [style.background-color]="item.variant"></div>
      <div>{{ item.product.name }}</div>
    </div>
  </div>

  <div>Total: € {{ getTotalCart() }}</div>
</div>
